<ion-view title="Betting" id="page18" class=" ">
    <ion-content padding="true" 
                 style="background: url(img/UikKKoRUSdmz1mVqUxab_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" 
                 class="has-header"
                 ng-controller="bettingCtrl as gameController">
        <div>
            
            <h3>At the start</h3>
            <p>Players in poker act in turn</p>
                <br><p>In clockwise rotation</p>
                <br><p>when it is a player's turn the first verbal declaration of action binds them to that action</p>
                <br><p>until the first bet is placed, players have two options:</p>
                <font size="4">
                    <br><p>check</p>
                    <br><p>open</p></font>
            </p>

            <h3>Check</h3>
            <p>This is the equivalent of betting zero</p>
                <br><p>This can only be done when no one else has bet</p>
                <br><p>It shows the player doesn't want to open but still wants to hold their cards to bet/raise/call later.</p>

            <h3>Open</h3>
            <p>If in any betting round it is the player's turn to act and the action is unopened the player can open action in a beting round by making a bet</p>
                <br><p>this is added to the pot to increase it's size</p>
                <br><p>n no-limit and pot-limit games, there is a minimum amount that is required to be bet in order to open the action</p>

            <h3>After Open</h3>
            <p>after someone has opened the option to check is not allowed the players now have three options</p>
                <font size="4">
                    <br><p>call</p>
                    <br><p>raise</p>
                    <br><p>fold</p></font>
            </p>

            <h3>Call</h3>
            <p>To call a is to match a bet or match a raise</p>
                <br><p>a betting rounds ends when all players have bet and equal amountor when everyone folds to another player's bet or raise</p>
                <br><p>if no players call another player's rise then that player wins the pot</p>

            <h3>raise</h3>
            <p>To raise is to increase the size of an existing bet in the same betting round</p>
                <br><p>Standard poker rules require that raises must be at least equal to the amount of the previous bet or raise.</p>
                <b><p>for example</p>
                    <br><p>if an opponent bets £5 then the player must raise by at leat £5(they cannot rise by £2)</p>
                    <br><p>If the player raises by £7(bringing it up to £12)</p>
                    <br><p>if next player decides to raise then they have to raise by at least £7 pounds(taking the pot to £19)</p></b>
                <br><p>When playing fixed-limit games of poker the size of bets and stakes is specified</p>
                <br><p>For example in $3/$6 fix limit hold'em the first two betting rounds all opens and raises must be $3</p>
                <br><p>after the river all opens ad raises must be $6</p>

            <h3>fold</h3>
            <p>To fold is to discard one's hand and forefit intrest in pot</p>
                <br><p>No more bets are required from the player but they also can't win</p>
            <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
            <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>

        </div>
    </ion-content>
</ion-view>