<ion-view title="Bridge" id="page10" class=" ">
    <ion-content padding="true" style="background: url(img/jHkTPnXRkqgKq9zRtQrQ_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
           
            <h3>What you need</h3>

            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>4 players</li>
            </ul>
            <h3>How to play</h3>
            <p>Bridge is maid up of two parts:
                <br>The Bidding
                <br>The play
                <br>
                <br>Bridge is a partnership game so first form two teams of two
                <br>
                <br>Each plyer should sit oposite there partner
                <br>
                <br>A player then deals the deck of card evenly amongst the four players so each player has 13 cards</p>
            <h5>The Play</h5>
            <br>
            <p>The objective of bridge play is to win tricks for your side
                <br>
                <br>A trick consists of four cards (one form each player)
                <br>
                <br>The first card to be played in each trick is the "lead"
                <br>
                <br>The player who leads can play any card in their hand
                <br>
                <br>After the lead the other three players have an obligation
                <br>
                <br>They must play a card of the same suit if they have one
                <br>
                <br>If they don't have a card of the same suit then they can play any card in their hand
                <br>
                <br>After all four players have played one card the trick is complete
                <br>
                <br>The rules for who wins the trick are simple
                <br>
                <br>
                <b>If the no trumps are played then the highest card of the suit of the lead wins
                    <br>
                    <br>If any trumps are played then the highest card of trump suit wins</b>
            </p>
            <h5>The Bidding</h5>
            <br>
            <p>After looking at his cards each player in turn must make a call
                <br>
                <br>A call is either a
                <b>pass, bid, double or redouble</b>
                <br>
                <br>Pass
                <br>
                <br>If a player does not wish to bid, double or redouble they say 'pass'
                <br>
                <br>If all players pass on their first turn then the deal is "passed out" The cards are taken in and re dealed by the same dealer
                <br>
                <br>Bid
                <br>
                <br>A bid is a statement to win a specific number of tricks with a specific suit as trumps (or with no trumps)
                <br>
                <br>Each bib must say a number from 1-7 (add six to this number to get the number of tricks they plan to win) and the suit that wil be trumps (or notrump)
                <br>
                <br>For example, if a player says 3 hearts they a bidding on winning nine tricks with hearts as the trup suit
                <br>
                <br>Each sucessive bid must have either a higher rank or an equal rank of a higher suit
                <br>
                <br>The ranks in order of value are:</p>
            <img src="http://www.wsop.com/how-to-play-poker/images/how-to-card-rank.jpg" style="width:350px;height:228px">

        </div>
    </ion-content>
</ion-view>