<ion-view title="Bridge" id="page10" class=" ">
    <ion-content padding="true" 
                 style="background: url(img/jHkTPnXRkqgKq9zRtQrQ_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" 
                 class="has-header"
                 ng-controller="bridgeCtrl as gameController">
        <div>
            <h3>What you need</h3>

            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>4 players</li>
            </ul>
            <h3>How to play</h3>
            <p>Bridge is maid up of two parts:</p>
                <br><p>The Bidding</p>
                <br><p>The play</p>
                <br><p>Bridge is a partnership game so first form two teams of two</p>
                <br><p>Each plyer should sit oposite there partner</p>
                <br><p>A player then deals the deck of card evenly amongst the four players so each player has 13 cards</p>
            <h5>The Play</h5>
            <br>
            <p>The objective of bridge play is to win tricks for your side</p>
                <br><p>A trick consists of four cards (one form each player)</p>
                <br><p>The first card to be played in each trick is the "lead"</p>
                <br><p>The player who leads can play any card in their hand</p>
                <br><p>After the lead the other three players have an obligation</p>
                <br><p>They must play a card of the same suit if they have one</p>
                <br><p>If they don't have a card of the same suit then they can play any card in their hand</p>
                <br>
                <br><p>After all four players have played one card the trick is complete</p>
                <br><p>The rules for who wins the trick are simple</p>
                <br>
                <b><p>If the no trumps are played then the highest card of the suit of the lead wins</p>
                    <br><p>If any trumps are played then the highest card of trump suit wins</b></p>
            </p>
            <h5>The Bidding</h5>
            <br>
            <p>After looking at his cards each player in turn must make a call</p>
                <br><p>A call is either a</p>
                <b><p>pass, bid, double or redouble</b></p>
                <br><p><b>Pass</b></p>
                <br><p>If a player does not wish to bid, double or redouble they say 'pass'</p>
                <br><p>If all players pass on their first turn then the deal is "passed out" The cards are taken in and re dealed by the same dealer</p>
                <br><p><b>Bid</b></p>
                <br><p>A bid is a statement to win a specific number of tricks with a specific suit as trumps (or with no trumps)</p>
                <br><p>Each bib must say a number from 1-7 (add six to this number to get the number of tricks they plan to win) and the suit that wil be trumps (or notrump)</p>
                <br><p>For example, if a player says 3 hearts they a bidding on winning nine tricks with hearts as the trup suit</p>
                <br><p>Each sucessive bid must have either a higher number of trick or an equal number of tricks in a higher suit</p>
                <br><p> The Suits in order of value are <ul>
                    <li>1st notrump</li>
                    <li>2nd: Spades</li>
                    <li>3rd: Hearts</li>
                    <li>4th: Diamonds</li>
                    <li>5th: Clubs</li>
                </ul>
            <p>For example,</p>
            <p>If the previous bid was 1 spade then the next bid must be either one 'notrump' or two of any suit or 'notrump'</p>
            <BR><p>It can't be one haerts,Diamonds,or club as those suits are of a lower than spades</p>
            <br><p><b>Double</b>
            <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
            <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>

        </div>
    </ion-content>
</ion-view>