<ion-view title="Cheat" id="page13" class=" ">
    <ion-content padding="true" style="background: url(img/Igf30sjOQEOdv8ADsaPk_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
           
            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>at least three players</li>
            </ul>
            <br>
            <h3>How to play</h3>
            <p>Split the deck equally between the players
                <br>
                <br>if there a remaining cards place them face down to start the discard pile
                <br>
                <br>The player to the left of the dealer starts
                <br>
                <br>The player puts down somecards of the same rank (or just one of that rank) and says the number of cards of that rank he has placed down
                <br>
                <br>the next player then places down cards one rank above or below the previous player's rank
                <br>
                <br>If the player has no cards of that rank they can lie and place down cards claiming them to be of that rank
                <br>
                <br>this is repeated with the next player and so on
                <br>
                <br>If a player believes that another is playing they can call out "cheat"
                <br>
                <br>when someone calls cheat the person who is challenged must turn the cards they just played face up
                <br>
                <br>if the challenged player was lying then he must pick up all the cards in the discard pile
                <br>
                <br>however if the challanged player was telling the truth the challenger must pick up the cards
                <br>
                <br>The winner is the first person to get rid of all their cards</p>
        </div>
    </ion-content>
</ion-view>