<ion-view title="Egyptian Ratscrew" id="page9" class=" ">
    <ion-content padding="true" style="background: url(img/GgXek3OqTi9d0HPsbC3Q_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>someone to play against</li>
            </ul>
            <h3>How to play</h3>
            <p>Deal the cards evenly between the players
                <br>
                <br>Any left over cards are stacked face up in the middle of the table
                <br>
                <br>Players put their cards face down in front of them
                <br>
                <br>Starting to the left of the dearler, players puts one card face up on the pile in the middle, without looking at the card
                <br>
                <br>If the player plays a face card (King,Queen,Jack or Ace)then the next player must play a face down card
                <br>
                <br>The number of tries the player has to get a face card depends on what face card the previous player player
                <br>
                <br>If it is a jack they get one try
                <br>
                <br>If it is a queen they get two tries
                <br>
                <br>If it is a king they get three tries
                <br>
                <br>If it is an ace they have four tries
                <br>
                <br>If they do not get A face card within the tries Then the player who placed the face card gets the pile
                <br>
                <br>If the player manages to get a face card then the next player must try to get a face card
                <br>
                <br>Another way to get the pile is when two cards of the same value are at the top of the pile
                <br>
                <br>When this happens the first player to put his hand on the pile gets the cards
                <br>
                <br>The first person to have all the cards wins</p>
        </div>
    </ion-content>
</ion-view>