<ion-view title="Egyptian Ratscrew" id="page9" class=" ">
    <ion-content padding="true" 
                 style="background: url(img/GgXek3OqTi9d0HPsbC3Q_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" 
                 class="has-header"
                 ng-controller="egyptianRatscrewCtrl as gameController">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>someone to play against</li>
            </ul>
            <h3>How to play</h3>
            <p>Deal the cards evenly between the players</p>
                <br><p>Any left over cards are stacked face up in the middle of the table</p>
                <br><p>Players put their cards face down in front of them</p>
                <br><p>Starting to the left of the dearler, players puts one card face up on the pile in the middle, without looking at the card</p>
                <br><p>If the player plays a face card (King,Queen,Jack or Ace)then the next player must play a face down card</p>
                <br><p>The number of tries the player has to get a face card depends on what face card the previous player player</p>
                <br><p>If it is a jack they get one try</p>
                <br><p>If it is a queen they get two tries</p>
                <br><p>If it is a king they get three tries</p>
                <br><p>If it is an ace they have four tries</p>
                <br><p>If they do not get A face card within the tries Then the player who placed the face card gets the pile</p>
                <br><p>If the player manages to get a face card then the next player must try to get a face card</p>
                <br><p>Another way to get the pile is when two cards of the same value are at the top of the pile</p>
                <br><p>When this happens the first player to put his hand on the pile gets the cards</p>
                <br><p>The first person to have all the cards wins</p>
                <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
                <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>
        </div>
    </ion-content>
</ion-view>