<ion-view title="Go Fish" id="page11" class=" ">
    <ion-content padding="true" style="background: url(img/ZU6Q51gKRvGniwsjMEht_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>
            <ul>
                <li>a deck of playing cards</li>
            </ul>
            <h3>How to play</h3>
            <p>shuffle the deck
                <br>
                <br>deal out seven cards to each player
                <br>
                <br>place the reaming cards face down
                <br>the player to the right of the dealer goes first
                <br>
                <br>The player then asks any other player if they a have any cards of a specific number or rank
                <br>(1,2,3,4,5,6,7,8,9,10,Jack,King,Queen)
                <br>
                <br>if the player who is asked has any cards with the rank asked for the must give all of their cards in that rank to the player who asked
                <br>
                <br>If the player who is asked doesn't have any cards with the rank asked for they say "Go Fish"
                <br>
                <br>when the player "Goes Fish" they pick up a card from the pile
                <br>
                <br>if the player was right ,and collected cards form another player, they can then ask again(to the same of different player)
                <br>
                <br>When a player "goes Fish" there turn ends and the next player (going clockwise) has their turn
                <br>
                <br>once a player has all four cards of a rank they place then down to show other that they have the whole rank
                <br>
                <br>this continues until there are no cards left
                <br>
                <br>the winner is whoever has the most ranks
                <br>
                <br>if player have the same amount of ranks then the ranks are used to score and whoever has the highest score wins
                <br>
                <br>the scores work as follows (highest value top left, lowest value bottom right)</p>
            <center>
                <img src="http://www.wsop.com/how-to-play-poker/images/how-to-card-rank.jpg" style="width:350px;height:228px">
            </center>
        </div>
    </ion-content>
</ion-view>