<ion-view title="Hand Ranks" id="page19" class=" ">
    <ion-content padding="true" 
                 style="background: url(img/3Z7eRuTaTb6bkx1PBeIm_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" 
                 class="has-header"
                 ng-controller="handRanksCtrl as gameController">
        <div>

            <p>
                <font size="4">The hands of poker ranked highest to lowest are:</font>
            </p>
            <ul>
                <li id="hands">1: Royal Flush</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section.img.png/1386587326930.png">

                <li id="hands">2: Straight Flush</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_0.img.png/1386587330804.png">
                
                <li id="hands">3: Four of a Kind</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_1.img.png/1386587335167.png">

                <li id="hands">4: Full House</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_2.img.png/1386587342036.png">

                <li id="hands">5: Flush</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_3.img.png/1386587346717.png">

                <li id="hands">6: straight</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_4.img.png/1386587355577.png">

                <li id="hands">7: Three of a Kind</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_5.img.png/1386587360417.png">

                <li id="hands">8: Two Pairs</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_6.img.png/1386587365687.png">

                <li id="hands">9: A Pair</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_7.img.png/1386587388755.png">

                <li id="hands">10:High Card</li>
                    <br>
                    <img id="cards" src="https://www.partypoker.com/content/poker/partypokercom/en_US/how-to-play/hand-rankings/_jcr_content/par/div_2/par/section_8.img.png/1386587393100.png">
                
            </ul>
            <h5>Royal Flush</h5>
            <p>A Royal flush is an Ace-high straight flush
                <br>so an Ace-King-Queen-Jack-10 of the same suit</p>
            <h5>Straight Flush</h5>
            <p>A straight flush is a five-card stright of the same suit
                <br>So a 7-6-5-4-3 all of diamonds</p>
            <h5>Four of a Kind</h5>
            <p>Four of a Kind is four cards of equal value like 4 Jacks</p>
            <h5>Full House</h5>
            <p>A full house has a set of 3 of cards of one value and a pair of cards of another value
                <br>For example, three queens and a pair of twos</p>
            <h5>Flush</h5>
            <p>A flush is five cards of the same suit which can't be put in sequence</p>
            <h5>Straight</h5>
            <p>Five cards of sequnetial value made of multiple suits
                <br>for example, 7-6-5-4-3
                <br>intresting fact: all straights will contain a 5 or a 10</p>
            <h5>Three of a Kind</h5>
            <p>three of a kind is three cards of the same value, like three aces</p>
            <h5>two pairs</h5>
            <p>This is two cards of one and value and two cards of another value
                <br>For example, two jacks and two 8s</p>
            <h5>A Pair</h5>
            <p>one pair of cards of the same value like two queens</p>
            <h5>High Card</h5>
            <p>If none of the players have any of the above the palyer with the card of the highest value wins</p>

            <h3>In the event of a tie</h3>
            <p>In the event of a tie where not all 5 cards are used in the hand then the side cards(cards not being used) or "kickers" to decide the winner
                </p><br><p>The winner when using side cards is whoever has the highest valued card as their "kicker"</p>
                <br><p>For example, if two players had and indentical hand of two tens and two fives but one player had a six and the other player had a four then the player with the six would win</p>
                <br><p>If the players have and equal first kicker then a second,third or fourth kicker may come into play (it depends on what hand their is a tie on</p>
                <br><p>if the when all the kickers are used then the pot is split between the players evenly</p>

            <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
            <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>
        </div>
    </ion-content>
</ion-view>