<ion-view title="Home" id="page2" class=" ">
    <ion-content padding="true"
    			 style="background: url(img/27jsaztDT7SqBKCk9nKj_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;"
    			 class="has-header"
    			 ng-controller="homeCtrl as home">
        <ion-list id="home-list3" class=" ">
            <ion-item class="item-divider " id="home-list-item-divider2">Games About Speed</ion-item>
            <ion-item id="home-list-item1" ui-sref="tabsController.spit" class="item-royal">Spit</ion-item>
            <ion-item id="home-list-item2" ui-sref="tabsController.irishSnap" class="item-balanced">Irish Snap</ion-item>
            <ion-item id="home-list-item3" ui-sref="tabsController.spoons" class="item-calm">Spoons</ion-item>
            <ion-item id="home-list-item5" ui-sref="tabsController.egyptianRatscrew" class="item-energized">Egyptian Ratscrew</ion-item>
            <ion-item class="item-divider " id="home-list-item-divider3">Games About Strategy</ion-item>
            <ion-item id="home-list-item6" ui-sref="tabsController.bridge" class="item-light">Bridge</ion-item>
            <ion-item id="home-list-item7" ui-sref="tabsController.goFish" class="item-calm">Go Fish</ion-item>
            <ion-item id="home-list-item8" ui-sref="tabsController.whist" class="item-balanced">Whist</ion-item>
            <ion-item id="home-list-item10" ui-sref="tabsController.cheat" class="item-dark">Cheat</ion-item>
            <ion-item id="home-list-item15" ui-sref="tabsController.oldMaid" class="item-assertive">Old Maid</ion-item>
            <ion-item class="item-divider " id="home-list-item-divider4">Gambling Games</ion-item>
            <ion-item id="home-list-item11" ui-sref="tabsController.poker" class="item-balanced">Poker</ion-item>
            <ion-item id="home-list-item12" ui-sref="tabsController.blackJack" class="item-dark">BlackJack</ion-item>
            <ion-item class="item-divider " id="home-list-item-divider5">Games of Luck</ion-item>
            <ion-item id="home-list-item14" ui-sref="tabsController.war" class="item-assertive">war</ion-item>

        </ion-list>
    </ion-content>
</ion-view>

