<ion-view title="Irish Snap" id="page7" class=" ">
    <ion-content padding="true" style="background: url(img/M4IRRjm3TDu2ijUzXjTG_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>people play against</li>
            </ul>
            <br>
            <h3>How to play</h3>
            <p>Split the deck evenly amongst the players with the cards face down
                <br>
                <br>Choose a player to go first
                <br>
                <br>They will place a card face up in the middle and say 'one'
                <br>
                <br>Then the next player will then place down acard face up a say 'two
                <br>
                <br>This continues up to thirteen then the next player will place a card face up and say 'one'
                <br>
                <br>this is repeated again and again
                <br>
                <br>If when a card is put down it has the same value as the number said (Jack=11 Queen=12 King=13 Ace=1)Then all players must put their hands on the pile in the middle
                <br>
                <br>The last player to put their hand in the middle must pick up the pile
                <br>
                <br>this also happens if the two card placed in the middle has the same value as the card before it
                <br>
                <br>whoever picked up the cards starts the next round
                <br>
                <br>if a player says the wrong number or hits the pile when their isn't a snap has to pick up the center pile
                <br>
                <br>When a player is out of cards they simply say the correct number when it becomes their turn without placing a card
                <br>
                <br>The loser is the last person to still have cards</p>

        </div>
    </ion-content>
</ion-view>