<ion-view title="OldMaid" id="page14" class=" ">
    <ion-content padding="true" style="background: url(img/ZlOmvNcQRnaJALUenOsz_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>

            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>2 to 8 players</li>
            </ul>
            <h3>How to play</h3>
            <p>First take a card out of the deck (This is usually the queen of clubs)
                <br>
                <br>Then deal out the cards among the players
                <br>
                <br>Players then sort their hand searching for pairs and putting any piles they find face up in front of them
                <br>
                <br>starting from the dealer, the player fans out his cards to the player to the left
                <br>
                <br>The player must make sure that the other player does not see his hand
                <br>
                <br>The other player must pick one of the cards from the player's hand and put it in their own hand
                <br>
                <br>If they make a pair then they also put this pair face up on the table
                <br>
                <br>This contiues around the circle of players until only the old maid (the one with no pair) is left
                <br>
                <br>Whichever player is left with the old maid loses</p>
        </div>
    </ion-content>
</ion-view>