<ion-view title="Omaha" id="page21" class=" ">
    <ion-content padding="true" 
                 style="background: url(img/yG5g2M82Q9md8ccy56mu_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" 
                 class="has-header"
                 ng-controller="omahaCtrl as gameController">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>someone to play against</li>
            </ul>
            <br>
            <h3>How to play</h3>
            <p>Omaha plays simiarly to Texas hold'em with a players getting cards and three cards placed on the table face-up</p>
                <br><p>a round of betting</p>
                <br><p>another card placed on the table face-up</p>
                <br><p>another rounnd fo betting</p>
                <br><p>a final card placed face-up on the table</p>
                <br><p>a final round of betting before players reveal their cards</p>
                <br><p>The difference between Omaha and Texas Hold'em is that the players are dealt four cards instead of two</p>
                <br><p>however players can only use two of the cards in their hand and the rest have to be on the table and they have to use two cards from their hand</p>
            <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
            <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>
        </div>
    </ion-content>
</ion-view>