<ion-view title="Omaha" id="page21" class=" ">
    <ion-content padding="true" style="background: url(img/yG5g2M82Q9md8ccy56mu_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>someone to play against</li>
            </ul>
            <br>
            <h3>How to play</h3>
            <p>Omaha plays simiarly to Texas hold'em with a players getting cards and three cards placed on the table face-up
                <br>
                <br>a round of beting
                <br>
                <br>another card placed on the table face-up
                <br>
                <br>another rounnd fo betting
                <br>
                <br>a final card placed face-up on the table
                <br>
                <br>a final round of betting before players reveal their cards
                <br>
                <br>The difference between Omaha and Texas Hold'em is that the players are dealt four cards instead of two
                <br>
                <br>however players can only use two of the cards in their hand and the rest have to be on the table and they have to use two cards from their hand</p>
        </div>
    </ion-content>
</ion-view>