<ion-view title="Poker" id="page17" class=" ">
    <ion-content padding="true" style="background: url(img/2rint9CRumobnteppK8A_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

        </div>
        <ion-list id="poker-list7" class=" ">
            <ion-item class="item-divider " id="poker-list-item-divider10">Basic Rules</ion-item>
            <ion-item id="poker-list-item28" ui-sref="tabsController.betting" class="  ">Betting</ion-item>
            <ion-item id="poker-list-item29" ui-sref="tabsController.handRanks" class="  ">Hand Rankings</ion-item>
            <ion-item class="item-divider " id="poker-list-item-divider11">Types of poker</ion-item>
            <ion-item id="poker-list-item30" ui-sref="tabsController.texasHoldEm" class="  ">Texas Hold'em</ion-item>
            <ion-item id="poker-list-item31" ui-sref="tabsController.omaha" class="  ">Omaha</ion-item>
        </ion-list>
    </ion-content>
</ion-view>