<ion-view title="Spit" id="page6" class=" ">
    <ion-content padding="false"
    			 style="background: url(img/9bZcxSXiRaWn5cJHxizA_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;"
    			 class="has-header"
    			 ng-controller="spitCtrl as gameController">
        <div >
            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>someone to play against</li>
            </ul>
            <br>
            <h3>How to play</h3>
            <p>Split the deck(s) equally between the player</p>
                <br><p>Place one card face up and four cards face down</p>
                <br><p>place one card face up,on top of the card face down that is adjacent to the card which is face up, and three cards face down</p>
                <br><p>place one card face up,on top of the card face down that is adjacent to the card which is face up, and two cards face down</p>
                <br><p>place one card face up,on top of the card face down that is adjacent to the card which is face up, and one card face down</p>
                <br><p>place one card face up,on top of the card face down that is adjacent to the card which is face up, and place the remaining cards face down in a seperate pile(known as the spit cards)</p>
                <br>
                <p><b>You should have 5 piles of cards increasing from 1 to 5 in increments of 1 with the top card face up and all cards underneath face down(these are your stock piles)</b></p>
                <br><p>when both players are ready they flip over the first of their spit cards</p>
                <br><p>This creates the spit piles on to whcih player place cards from their stock piles</p>
                <br><p>the players put their stock cards onto the spit piles if the the stock card has a value that is on above or one below that of the spit card</p>
                <br><p>the image below explains the concept (you can go either way arounf the circle</p>
            <center>
                <img id="slant" src="http://cache2.asset-cache.net/gc/165599129-diamond-suit-circle-playing-cards-gettyimages.jpg?v=1&amp;c=IWSAsset&amp;k=2&amp;d=zqkJJ8a0A56ZRQk8wSZVNx3hHXnwYReHSULp1Xcl%2BmRH5cdYbv6kmhaBRQ%2FRQln%2F" style="width:228px;height:228px">
            </center>
            <p>if the player has a card face down then they can turn it face up and play it (if possible)</p>
                <br><p>If the player finshes one of their stock piles they can move the face up card off one of their other piles to create a new pile</p>
                <br><p>when one player gets rid of all their stock cards all players can hit one of the piles to claim the cards in that spit piles</p>
                <p><b>the player should go for the smaller pile</b></p>
                <br><p>The players then take any remaining stock cards, their spit cards and the recently picked up spit piles and shuffle then</p>
                <br><p>then repeat until someone runs out of cards</p>
                <b>
                    <br><p>this can happen as eventually a player will have no cards to use for a spit card pile.</p>
                    <br><p>When this happens there will be a pile of no cards that a player can hit at the end of the round</b></p>
            </p>

            <h3>playing with more than two people</h3>
            <p>when playing with more than two people the only things that change are</p>
            <ul>
                <li>The number of spit piles</li>
                <li>The number of spit card piles</li>
                <li>The number of decks used</li>
                <ul>
                    <li>add an extra deck for every odd number of players (so 2 for 3, 3 for 5, 4 for 7 ,etc.</li>
                </ul>
            </ul>
            <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
            <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>
        </div>
    </ion-content>
</ion-view>