<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-calm tabs-icon-only " id="tabsController-tabs1">
        <ion-tab title="Home Tab" icon="ion-ios-home" href="#/page1/Home" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Faves Tab" icon="ion-star" href="#/page1/Faves" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>