<ion-view title="Texas Hold'em" id="page20" class=" ">
    <ion-content padding="true" style="background: url(img/2jsRcpdfQc2V4KM5fABW_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>
            <ul>
                <li>a deck of playing cards</li>
                <li>something to bet with</li>
                <li>someone to play against</li>
            </ul>
            <h3>How to play</h3>
            <p>players are dealt two cards face down
                <br>
                <br>Each player can now exercise their betting options
                <br>
                <br>Three cards are dealt face up on the table for all players to share
                <b>This known as the flop</b>
                <br>
                <br>The players have another round of betting
                <br>
                <br>A fourth card is added to the flop
                <b>this is called the turn</b>
                <br>
                <br>another round of betting takes place
                <br>
                <br>a fith card is dealt added to the flop
                <b>this is know as the river</b>
                <br>
                <br>a final round of betting takes place
                <br>
                <br>when the betting has ended there will be showdown
                <br>Whoever has the best hand wins the pot</p>
        </div>
    </ion-content>
</ion-view>