<ion-view title="War" id="page16" class=" ">
    <ion-content padding="true" 
                 style="background: url(img/52QznMRTMidKCQXNoUZg_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" 
                 class="has-header"
                 ng-controller="warCtrl as gameController">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>someone to play against</li>
            </ul>
            <h3>How to play</h3>
            <p>Deal the deck equally among two players</p>
                <br><p>Place the card face down in front of the player</p>
                <br><p>Both players turn over the cards and the one with the higher value wins and the player takes both cards</p>
                <br><p>If both players turn over cards that have the same value then "war" is declared</p>
                <br><p>The card currently played stay there then three cards are played on top face down and a final card is played face up</p>
                <br><p>The highest valued card of the two face up gets all 10 cards</p>
                <br><p>The loser is the first person to run out of cards</p>
                <br><p>The value for cards is as follows (top-right=highest, bottom-left=lowest)</p>
            <center>
                <img src="http://www.wsop.com/how-to-play-poker/images/how-to-card-rank.jpg" style="width:350px;height:228px">
            </center>
            <center><button class="button button-calm icon-left ion-ios-star-outline" ng-if="gameController.currentGameData.isFavourite == 0" ng-click="gameController.toggleFavourite()">Favourite</button></center>
            <center><button class="button button-energized icon-left ion-ios-star" ng-if="gameController.currentGameData.isFavourite == 1" ng-click="gameController.toggleFavourite()">Favourite</button></center>
        </div>
    </ion-content>
</ion-view>