<ion-view title="Whist" id="page12" class=" ">
    <ion-content padding="true" style="background: url(img/mPSlAFXYTPmZFbUy70se_Playing-Cards-Symbols.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>

            <h3>What you need</h3>
            <br>
            <ul>
                <li>a deck of cards</li>
                <li>a flat surface to play on</li>
                <li>four players</li>
            </ul>
            <br>
            <h3>How to play</h3>
            <p>The cards are ranked like this(top left = highest ; bottom right= lowest)</p>
            <center>
                <img src="http://www.wsop.com/how-to-play-poker/images/how-to-card-rank.jpg" style="width:350px;height:228px">
            </center>
            <p>the four players make two fixed partnerships of two
                <br>
                <br>partners sit opposite each other
                <br>
                <br>A dealer is randomly selected
                <br>
                <br>The dealer then deals out the card so everyone has 13 cards
                <br>
                <br>The final card (which will belong to the dealer)is turned face up to show which suit is the trump
                <br>
                <br>The turned trump will remain face-upon the table until it is the dealer's turn to play the first trick and may play any card
                <br>
                <br>the other players play a car to that trick in clockwise order (following the suit if possible)
                <br>
                <br>If the player can't follow the suit they may any card to discard or trump
                <br>
                <br>The highest card of the suit that was lead wins the trick
                <br>unless their are trump cards played in whcih case the highest rank in the trump suit wins the trick
                <br>
                <br>Play continues until all 13 cards are played then the score is recorded
                <br>
            </p>
            <h3>How scoring works</h3>
            <p>The side that won more tricks gets one point for each trick in excess of six
                <br>
                <br>So if a team has 8 tricks they score 2 points
                <br>
                <br>The first team to score 5 points wins</p>
        </div>
    </ion-content>
</ion-view>